body{
    background-color: #333;
    font-family: sans-serif;
}
#form{
    margin: 50px 16%;
    text-align: center;
    background-color: rgb(19, 102, 226);
    color: #fff;
    padding: 40px;
    box-sizing: border-box;
    display: flex;
}
h2{
    margin: 0;
    flex-grow: 1;
}
input{
    width:30px;
    border: none;
}
#btn{
    width: auto;
    color: #48e;
    background-color: #fff;
    margin-left: 10px;
    letter-spacing: 1px; 
}
