
:root {
    --negro: #393939;
    --principal:;
    --secundaria:;
    --blanco: #ececec;
	/* Tipografía */
    --tipo-principal:;
    --tipo-secundaria:;
 }
	/* Las adaptamos al modo oscuro */
@media (prefers-color-scheme: dark) {
    :root {
      --negro: #ececec;
    }
 }
*{
    margin: 0;
    padding: 0;
    border: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    vertical-align: baseline;
    text-decoration: none;
}

	/* Configuramos el texto que seleccionamos */
::-moz-selection {
  background-color: var(--negro);
  color: var(--blanco);
}
::selection {
  background-color: var(--negro);
  color: var(--blanco);
}

body{
    background-color: var(--principal);
    /* font-size: 2.5rem; */
    line-height: 1.4em;
}

.header {
    width: 100%;
    max-width: 70em;
    padding: 4em;
    margin: auto;
    background-color: aqua;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__h1 {
    background-color: blue;
}
.header__ul , ul {
    background-color: crimson;
}
.ul__a{
    background-color: burlywood;
}

.section {
    width: 100%;
    max-width: 70em;
    margin: auto;
    background-color: chartreuse;
    display: grid;
    grid-template-areas: "a b"
                         "c d";
    gap: 1em;
}

.section__article--a {
    grid-area: a ;
    background-color: coral;
}
.section__article--b {
    grid-area: b ;
    background-color: violet;
}
.section__article--c {
    grid-area: c ;
    background-color: yellow;
}
.section__article--d {
    grid-area: d ;
    background-color: teal;
}

.section__h2 {
    text-align: center;
    padding: 1em ;
}
.section__img {
    display: block;
    background-color: darkmagenta;
    width: 100%;
    min-height: 15em;
}
.section__p {
    padding: 1em;
}

.footer {
    width: 100%;
    padding: 2em;
    background-color: aqua;
    display: flex;
    justify-content: space-between;
}
.footer__p {
    background-color: blue;
}
.footer__a {
    background-color: darkgoldenrod;
}
