:root {
    --negro: #393939;
    --principal:;
    --secundaria:;
    --blanco: #ececec;
	/* Tipografía */
    --tipo-principal:;
    --tipo-secundaria:;
 }
	/* Las adaptamos al modo oscuro */
@media (prefers-color-scheme: dark) {
    :root {
      --negro: #ececec;
    }
 }
*{
    margin: 0;
    padding: 0;
    border: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    vertical-align: baseline;
    text-decoration: none;
}

	/* Configuramos el texto que seleccionamos */
::-moz-selection {
  background-color: var(--negro);
  color: var(--blanco);
}
::selection {
  background-color: var(--negro);
  color: var(--blanco);
}

body{
    background-color: var(--principal);
    /* font-size: 2.5rem; */
    line-height: 1.4em;
}

.header {
    width:100%;
    max-width:70em;
    padding:4em;
    margin:auto;
    background-color:blue;
    display: flex;
    justify-content:space-between;
    align-items:center;
}
.header__h1 {
    background-color: yellowgreen;
}
.header__main {
    background-color: green;
}
.header__main--ul {
    background-color: tomato;
}
.header__main--a {
    background-color:violet;
}

.section {
    width:100%;
    max-width: 70em;
    margin: auto;
    display: grid;
    grid-template-columns:repeat(
        auto-fit,
        minmax(16em,1fr)
    );
    gap: 1em;
}
.section__article--a {
    background-color: tomato ;
}
.section__article--b {
    background-color: violet;
}
.section__article--c {
    background-color: yellow;
}
.section__article--d {
    background-color: gray;
}

.section__h2 {
    padding: 1em;
    text-align: center;
}
.section__img {
    display:block;
    width: 100%;
    min-height: 15em;
    background-color: springgreen;
}
.section__p {
    padding: 1em;
}

.footer {
    width: 100%;
    max-width:70em;
    padding: 2em;
    margin:auto;
    background-color: yellowgreen;
    display: flex;
    justify-content: space-between;
}
.footer__p {}
.footer__a {}
