h1 {
    font-family: serif;
    font-size: 8em;
    font-weight: 700;
    letter-spacing: -0.035em;
    color: transparent;
    background-image: linear-gradient(
        180deg,
        rgb(214, 16, 16),
        rgb(156, 0, 247)
    );
    background-clip: text;
    -webkit-background-clip: text;

}
 h2 {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    font-size: 8em;
    font-weight: 400;
    color: transparent;
    letter-spacing: -0.033em;
    background-image: linear-gradient(
        180deg,
        rgb(8, 255, 193),
        rgb(208, 255, 1),
        rgb(255, 0, 128)
    );
    background-clip: text;
    -webkit-background-clip: text;
 }
 .titulo {
    font-size: 8em;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 300;
    color: transparent;
    letter-spacing: 0.022em;
    background-image: linear-gradient(
        180deg,
        rgb(81, 255, 0),
        rgb(0, 68, 255),
        rgb(255, 7, 143)
    );
    background-clip: text;
    -webkit-background-clip: text;
 }
 .titulo__a {
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 8em;
    font-weight: 500;
    color: transparent;
    letter-spacing: -0.040em;
    background-image: linear-gradient(
        180deg,
        rgb(68, 0, 255),
        rgb(255, 0, 106)
    );
    background-clip: text;
    -webkit-background-clip: text;

 }
.titulo__b {
    font-family:Arial, Helvetica, sans-serif;
    font-size:8rem;
    font-weight:700;
    color:transparent;
    letter-spacing:-0.030em;
    background-image:linear-gradient(
        180deg,
        rgb(255, 240, 28),
        rgb(68, 0, 255)
    );
    background-clip: text;
    -webkit-background-clip:text;
}
.titulo__c {
    font-size:8em;
    font-family:Arial, Helvetica, sans-serif;
    font-weight:300;
    color:transparent;
    letter-spacing:-0.030;
    background-image:linear-gradient(180deg,rgb(51, 255, 0),rgb(111, 0, 255));
    background-clip:text;
    -webkit-background-clip:text;
 }
 .titulo__d {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:8em;
    font-weight:400;
    letter-spacing:-0.030em;
    color:transparent;
    background-image:linear-gradient(180deg,rgb(255, 0, 0),rgb(187, 255, 0));
    background-clip:text;
    -webkit-background-clip:text;
 }
 .titulo__e {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:8em;
    font-weight:200;
    letter-spacing:-0.050em;
    color:transparent;
    background-image:linear-gradient(180deg, rgb(255, 5, 5), rgb(251, 255, 0));
    background-clip: text;
    -webkit-background-clip:text;
 }
 .titulo__f {
    font-size:8em;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    letter-spacing:-0.1em;
    color:transparent;
    background-image:linear-gradient(180deg, rgb(255, 1, 179), rgb(0, 4, 255));
    background-clip:text;
    -webkit-background-clip:text;
 }
 